@import "tailwindcss";

:root {
  --chart-1: #6366f1;
  --chart-2: #06b6d4;
  --chart-3: #f59e0b;
  --chart-4: #10b981;
  --chart-5: #f43f5e;
}

body {
  background-color: var(--color-slate-950);
  color: var(--color-slate-100);
}